@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=DM+Sans:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@layer base {
  body {
    font-family: 'DM Sans', sans-serif;
  }
  canvas {
    display: block;
    width: 100% !important;
    height: 100% !important;
  }
}
